*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  
  background-color: #affbff78;
  box-sizing: border-box;
}

body {
  border: 0;

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  padding: 1rem;
}

h1, h2 {
  margin: 0;
}

a {
  color: #570C3D;
}