*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  
  background-color: #D9E0D7;
  box-sizing: border-box;
}

body {
  border: 0;

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  padding: 1rem;
}

@media screen and (max-width: 600px) {
  body {
    text-align: center;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}

a {
  color: #570C3D;
}